:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhite: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--verylightgray);
  font-family: "Lexend Deca", sans-serif;
}

p {
  color: var(--transparentwhite);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5rem;
  font-size: small;
}

h1,
h2,
h3 {
  color: var(--verylightgray);
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  margin: 1.8rem 0;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid var(--verylightgray);
  text-transform: capitalize;
  margin-top: 1.5rem;
  background-color: var(--verylightgray);
}

.container {
  /* width: 90%; */
  margin: 4rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container--content {
  max-width: 20rem;
  padding: 2rem;
}

.container--content button:hover {
  background-color: transparent;
  color: var(--transparentwhite);
}

.container--content1 {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--brightorange);
}

.container--content2 {
  background-color: var(--darkcyan);
}

.container--content3 {
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: var(--verydarkcyan);
}

.container--content1 button {
  color: var(--brightorange);
}

.container--content2 button {
  color: var(--darkcyan);
}
.container--content3 button {
  color: var(--verydarkcyan);
}

.attribution {
  /* position: absolute;
  bottom: 0; */
  font-size: 11px;
  text-align: center;
  color: black;
  width: 100%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 770px) {
  button {
    margin-top: 5rem;
  }

  .container {
    flex-direction: row;
  }

  .container--content1 {
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .container--content3 {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
