@tailwind base;

@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-semibold text-dark-grayish text-center;
  }
  h2 {
    @apply text-3xl md:text-4xl font-semibold text-dark-grayish text-center;
  }
  h3 {
    @apply text-2xl font-semibold text-dark-grayish text-center;
  }
  p {
    @apply text-grayish-blue text-center;
  }
}

@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Bai Jamjuree", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
